.gradient-animation {
    background: linear-gradient(to right, #007bff, #00ff99);
    background-size: 200% 100%;
    animation: gradient 2s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
